<h3>Edit Property</h3>
<form ng-submit="updateProperty(property)" class="form-horizontal">
    <div class="form-group">
        <label for="Property.Name" class="control-label col-xs-4">Property Name</label>
        <div class="col-xs-8">
            <input ng-model="property.PropertyName" id="Property.Name" name="Property.Name" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.AssociationCode" class="control-label col-xs-4">Association Code</label>
        <div class="col-xs-8">
            <input ng-model="property.AssociationCode" id="Property.AssociationCode" name="Property.AssociationCode" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.TaxId" class="control-label col-xs-4">Tax Id</label>
        <div class="col-xs-8">
            <input ng-model="property.TaxId" id="Employee.LastName" name="Employee.LastName" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.Address" class="control-label col-xs-4">Address</label>
        <div class="col-xs-8">
            <input ng-model="property.Address" id="Property.Address" name="Property.Address" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.City" class="control-label col-xs-4">City</label>
        <div class="col-xs-8">
            <input ng-model="property.City" id="Property.City" name="Property.City" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.ManagerId" class="control-label col-xs-4">Manager</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ManagerId" ng-model="property.ManagerId" ng-options="manager.Id as manager.Name for manager in managers"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.PropertyType" class="control-label col-xs-4">Property Type</label>
        <div class="col-xs-8">
            <input ng-model="property.PropertyType" id="property.PropertyType" name="Property.PropertyType" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.NumberOfUnits" class="control-label col-xs-4">Number Of Units</label>
        <div class="col-xs-8">
            <input ng-model="property.NumberOfUnits" id="property.NumberOfUnits" name="property.NumberOfUnits" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.NumberOfBuildings" class="control-label col-xs-4">Number of Buildings</label>
        <div class="col-xs-8">
            <input ng-model="property.NumberOfBuildings" id="property.NumberOfBuildings" name="property.NumberOfBuildings" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.GateAccessCode" class="control-label col-xs-4">Gate Access Code</label>
        <div class="col-xs-8">
            <input ng-model="property.GateAccessCode" id="property.GateAccessCode" name="property.GateAccessCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.FireAlarmPassword" class="control-label col-xs-4">Fire Alarm Password</label>
        <div class="col-xs-8">
            <input ng-model="property.FireAlarmPassword" id="property.FireAlarmPassword" name="property.FireAlarmPassword" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.LockboxCode" class="control-label col-xs-4">Lockbox Code</label>
        <div class="col-xs-8">
            <input ng-model="property.LockboxCode" id="property.LockboxCode" name="property.LockboxCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.ElectricalRoomCode" class="control-label col-xs-4">Electrical Room Code</label>
        <div class="col-xs-8">
            <input ng-model="property.ElectricalRoomCode" id="property.ElectricalRoomCode" name="property.ElectricalRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.CallboxCode" class="control-label col-xs-4">Callbox Code</label>
        <div class="col-xs-8">
            <input ng-model="property.CallboxCode" id="property.CallboxCode" name="property.CallboxCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.PackageRoomCode" class="control-label col-xs-4">Package Room Code</label>
        <div class="col-xs-8">
            <input ng-model="property.PackageRoomCode" id="property.PackageRoomCode" name="property.PackageRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.ElevatorRoomCode" class="control-label col-xs-4">Elevator Room Code</label>
        <div class="col-xs-8">
            <input ng-model="property.ElevatorRoomCode" id="property.ElevatorRoomCode" name="property.ElevatorRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.PoolRoomCode" class="control-label col-xs-4">Pool Room Code</label>
        <div class="col-xs-8">
            <input ng-model="property.PoolRoomCode" id="property.PoolRoomCode" name="property.PoolRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.PumpRoomCode" class="control-label col-xs-4">Pump Room Code</label>
        <div class="col-xs-8">
            <input ng-model="property.PumpRoomCode" id="property.PumpRoomCode" name="property.PumpRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.OnSiteContact" class="control-label col-xs-4">On Site Contact</label>
        <div class="col-xs-8">
            <input ng-model="property.OnSiteContact" id="property.OnSiteContact" name="property.OnSiteContact" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.WaterShutOffLocation" class="control-label col-xs-4">Water Shut Off Location</label>
        <div class="col-xs-8">
            <input ng-model="property.WaterShutOffLocation" id="property.WaterShutOffLocation" name="property.WaterShutOffLocation" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.RoofType" class="control-label col-xs-4">Roof Type</label>
        <div class="col-xs-8">
            <input ng-model="property.RoofType" id="property.RoofType" name="property.RoofType" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.ParkingPolicy" class="control-label col-xs-4">Parking Policy</label>
        <div class="col-xs-8">
            <input ng-model="property.ParkingPolicy" id="property.ParkingPolicy" name="property.ParkingPolicy" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.RoofAccessCode" class="control-label col-xs-4">RoofAccessCode</label>
        <div class="col-xs-8">
            <input ng-model="property.RoofAccessCode" id="property.RoofAccessCode" name="property.RoofAccessCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="property.FireAlarmVendorId" class="control-label col-xs-4">Fire Alarm Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.FireAlarmVendorId" ng-model="property.FireAlarmVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Fire Alarm Monitoring'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.InsuranceVendorId" class="control-label col-xs-4">Insurance Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.InsuranceVendorId" ng-model="property.InsuranceVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Insurance'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.ElevatorVendorId" class="control-label col-xs-4">Elevator Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElevatorVendorId" ng-model="property.ElevatorVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Elevator'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.PlumbingVendorId" class="control-label col-xs-4">Plumbing Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.PlumbingVendorId" ng-model="property.PlumbingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Plumbing'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.ElectricalVendorId" class="control-label col-xs-4">Electrical Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElectricalVendorId" ng-model="property.ElectricalVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Electrical'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.LandscapingVendorId" class="control-label col-xs-4">Landscaping Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.LandscapingVendorId" ng-model="property.LandscapingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Landscaping'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.GateVendorId" class="control-label col-xs-4">Gate Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.GateVendorId" ng-model="property.GateVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Gate'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.TowingVendorId" class="control-label col-xs-4">Towing Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.TowingVendorId" ng-model="property.TowingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Towing'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.EmergencyRemediationVendorId" class="control-label col-xs-4">Emergency Remediation Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.EmergencyRemediationVendorId" ng-model="property.EmergencyRemediationVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Emergency Remediation'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="Property.ElectricUtilityCompanyId" class="control-label col-xs-4">Electric Utility Company</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElectricUtilityCompanyId" ng-model="property.ElectricUtilityCompanyId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Electric Utility'"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="property.WaterUtilityCompanyId" class="control-label col-xs-4">Water Utility Company</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.WaterUtilityCompanyId" ng-model="property.WaterUtilityCompanyId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Water Utility'"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="Property.AdditionalNotes" class="control-label col-xs-4">Additional Notes</label>
        <div class="col-xs-8">
            <input ng-model="property.AdditionalNotes" id="Property.AdditionalNotes" name="Property.AdditionalNotes" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-offset-4 col-xs-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-offset-2 col-xs-4">
        <button name="back" class="btn btn-default" ng-click="back()">Back</button>
    </div>
</div>