<h3>Add Emergency Incident Report</h3>
<form ng-submit="new(EmergencyReport)" class="form-horizontal">
    <div class="form-group">
        <label for="Vendor.Name" class="control-label col-xs-4">Date of Emergency Incident:</label>
        <div class="col-xs-8">
            <input ng-model="EmergencyReport.Date" id="EmergencyReport.Date" name="EmergencyReport.Date" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.Caller" class="control-label col-xs-4">Caller</label>
        <div class="col-xs-8">
            <input ng-model="EmergencyReport.Caller" id="EmergencyReport.Caller" name="EmergencyReport.Caller" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.CallerPhoneNumber" class="control-label col-xs-4">Caller Phone Number</label>
        <div class="col-xs-8">
            <input ng-model="EmergencyReport.CallerPhoneNumber" id="EmergencyReport.CallerPhoneNumber" name="EmergencyReport.CallerPhoneNumber" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.PropertyName" class="control-label col-xs-4">Property Name</label>
        <div class="col-xs-8">
            <select class="form-control" id="SelectProperty" ng-model="EmergencyReport.PropertyId" required>
                <option value="" disabled selected>Select Property</option>
                <option ng-repeat="property in properties" value="{{property.PropertyId}}">{{property.PropertyName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.PropertyManagerName" class="control-label col-xs-4">Property Manager Name</label>
        <div class="col-xs-8">
            <select class="form-control" ng-model="EmergencyReport.ManagerId">
                <option value="1">Glenn Carson</option>
                <option value="2">Teddy Christenberry</option>
                <option value="4">Tyler Hall</option>
                <option value="5">Dawn Hardiman</option>
                <option value="6">Terry Hardiman</option>
                <option value="7">David Wall</option>
                <option value="8">Todd Fuller</option>
                <option value="9">Zach Johnson</option>
                <option value="10">Gina Antonini</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.OnCallManagerName" class="control-label col-xs-4">On Call Manager Name</label>
        <div class="col-xs-8">
            <select class="form-control" ng-model="EmergencyReport.OnCallManagerName">
                <option value="1">Glenn Carson</option>
                <option value="2">Teddy Christenberry</option>
                <option value="4">Tyler Hall</option>
                <option value="5">Dawn Hardiman</option>
                <option value="6">Terry Hardiman</option>
                <option value="7">David Wall</option>
                <option value="8">Todd Fuller</option>
                <option value="9">Zach Johnson</option>
                <option value="10">Gina Antonini</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.Address" class="control-label col-xs-4">Address</label>
        <div class="col-xs-8">
            <input ng-model="EmergencyReport.Address" id="EmergencyReport.Address" name="EmergencyReport.Address" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.IncidentDescription" class="control-label col-xs-4">Incident Description</label>
        <div class="col-xs-8">
            <textarea ng-model="EmergencyReport.IncidentDescription" id="EmergencyReport.IncidentDescription" name="EmergencyReport.IncidentDescription" type="text" class="form-control" required="required"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="EmergencyReport.ActionTaken" class="control-label col-xs-4">Action Taken</label>
        <div class="col-xs-8">
            <input ng-model="EmergencyReport.ActionTaken" id="EmergencyReport.ActionTaken" name="EmergencyReport.ActionTaken" type="text" class="form-control" required="required">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-offset-4 col-xs-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>