<h3>Add New Property</h3>
<form ng-submit="new(Property)" class="form-horizontal">
    <div class="form-group input-lg">
        <label for="Property.Name" class="control-label col-xs-4">Property Name</label>
        <div class="col-xs-8">
            <input ng-model="Property.Name" id="Property.Name" name="Property.Name" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.AssociationCode" class="control-label col-xs-4">Association Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.AssociationCode" id="Property.AssociationCode" name="Property.AssociationCode" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.TaxId" class="control-label col-xs-4">Tax Id</label>
        <div class="col-xs-8">
            <input ng-model="Property.TaxId" id="Employee.LastName" name="Employee.LastName" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.Address" class="control-label col-xs-4">Address</label>
        <div class="col-xs-8">
            <input ng-model="Property.Address" id="Property.Address" name="Property.Address" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.City" class="control-label col-xs-4">City</label>
        <div class="col-xs-8">
            <input ng-model="Property.City" id="Property.City" name="Property.City" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.ManagerId" class="control-label col-xs-4">Manager</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ManagerId" ng-model="Property.ManagerId" ng-options="manager.Id as manager.Name for manager in managers"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.PropertyType" class="control-label col-xs-4">Property Type</label>
        <div class="col-xs-8">
            <input ng-model="Property.PropertyType" id="Property.PropertyType" name="Property.PropertyType" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.NumberOfUnits" class="control-label col-xs-4">Number Of Units</label>
        <div class="col-xs-8">
            <input ng-model="Property.NumberOfUnits" id="Property.NumberOfUnits" name="Property.NumberOfUnits" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.NumberOfBuildings" class="control-label col-xs-4">Number of Buildings</label>
        <div class="col-xs-8">
            <input ng-model="Property.NumberOfBuildings" id="Property.NumberOfBuildings" name="Property.NumberOfBuildings" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.GateAccessCode" class="control-label col-xs-4">Gate Access Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.GateAccessCode" id="Property.GateAccessCode" name="Property.GateAccessCode" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.FireAlarmPassword" class="control-label col-xs-4">Fire Alarm Password</label>
        <div class="col-xs-8">
            <input ng-model="Property.FireAlarmPassword" id="Property.FireAlarmPassword" name="Property.FireAlarmPassword" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.LockboxCode" class="control-label col-xs-4">Lockbox Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.LockboxCode" id="Property.LockboxCode" name="Property.LockboxCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.ElectricalRoomCode" class="control-label col-xs-4">Electrical Room Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.ElectricalRoomCode" id="Property.ElectricalRoomCode" name="Property.ElectricalRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.CallboxCode" class="control-label col-xs-4">Callbox Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.CallboxCode" id="Property.CallboxCode" name="Property.CallboxCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.PackageRoomCode" class="control-label col-xs-4">Package Room Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.PackageRoomCode" id="Property.PackageRoomCode" name="Property.PackageRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.ElevatorRoomCode" class="control-label col-xs-4">Elevator Room Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.ElevatorRoomCode" id="Property.ElevatorRoomCode" name="Property.ElevatorRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.PoolRoomCode" class="control-label col-xs-4">Pool Room Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.PoolRoomCode" id="Property.PoolRoomCode" name="Property.PoolRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="Property.PumpRoomCode" class="control-label col-xs-4">Pump Room Code</label>
        <div class="col-xs-8">
            <input ng-model="Property.PumpRoomCode" id="Property.PumpRoomCode" name="Property.PumpRoomCode" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.OnSiteContact" class="control-label col-xs-4">On Site Contact</label>
        <div class="col-xs-8">
            <input ng-model="Property.OnSiteContact" id="Property.OnSiteContact" name="Property.OnSiteContact" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.WaterShutOffLocation" class="control-label col-xs-4">Water Shut Off Location</label>
        <div class="col-xs-8">
            <input ng-model="Property.WaterShutOffLocation" id="Property.WaterShutOffLocation" name="Property.WaterShutOffLocation" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.RoofType" class="control-label col-xs-4">Roof Type</label>
        <div class="col-xs-8">
            <input ng-model="Property.RoofType" id="Property.RoofType" name="Property.RoofType" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.ParkingPolicy" class="control-label col-xs-4">Parking Policy</label>
        <div class="col-xs-8">
            <input ng-model="Property.ParkingPolicy" id="Property.ParkingPolicy" name="Property.ParkingPolicy" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.RoofAccessCode" class="control-label col-xs-4">RoofAccessCode</label>
        <div class="col-xs-8">
            <input ng-model="Property.RoofAccessCode" id="Property.RoofAccessCode" name="Property.RoofAccessCode" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.FireAlarmVendorId" class="control-label col-xs-4">Fire Alarm Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.FireAlarmVendorId" ng-model="Property.FireAlarmVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Fire Alarm Monitoring'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.InsuranceVendorId" class="control-label col-xs-4">Insurance Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.InsuranceVendorId" ng-model="Property.InsuranceVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors |filter: vendor.VendorTypeName = 'Insurance'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.ElevatorVendorId" class="control-label col-xs-4">Elevator Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElevatorVendorId" ng-model="Property.ElevatorVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors |filter: vendor.VendorTypeName = 'Elevator'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.PlumbingVendorId" class="control-label col-xs-4">Plumbing Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.PlumbingVendorId" ng-model="Property.PlumbingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors |filter: vendor.VendorTypeName = 'Plumbing'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.ElectricalVendorId" class="control-label col-xs-4">Electrical Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElectricalVendorId" ng-model="Property.ElectricalVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors |filter: vendor.VendorTypeName = 'Electrical'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.GateVendorId" class="control-label col-xs-4">Gate Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.GateVendorId" ng-model="Property.GateVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Gate'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.TowingVendorId" class="control-label col-xs-4">Towing Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.TowingVendorId" ng-model="Property.TowingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors |filter: vendor.VendorTypeName = 'Towing'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.EmergencyRemediationVendorId" class="control-label col-xs-4">Emergency Remediation Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.EmergencyRemediationVendorId" ng-model="Property.EmergencyRemediationVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Emergency Remediation'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.LandscapingVendorId" class="control-label col-xs-4">Landscaping Vendor</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.LandscapingVendorId" ng-model="Property.LandscapingVendorId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Landscaping'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.ElectricUtilityCompanyId" class="control-label col-xs-4">Electric Utility Company</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.ElectricUtilityCompanyId" ng-model="Property.ElectricUtilityCompanyId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Electric Utility Provider'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="property.WaterUtilityCompanyId" class="control-label col-xs-4">Water Utility Company</label>
        <div class="col-xs-8">
            <select class="form-control" id="property.WaterUtilityCompanyId" ng-model="Property.WaterUtilityCompanyId" ng-options="vendor.VendorId as vendor.VendorName for vendor in vendors | filter: vendor.VendorTypeName = 'Water Utility Provider'"></select>
        </div>
    </div>
    <div class="form-group input-lg">
        <label for="Property.AdditionalNotes" class="control-label col-xs-4">Additional Notes</label>
        <div class="col-xs-8">
            <input ng-model="Property.AdditionalNotes" id="Property.AdditionalNotes" name="Property.AdditionalNotes" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-offset-4 col-xs-8">
            <button name="submit" type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-offset-2 col-xs-4">
        <button name="back" class="btn btn-default btn-lg" ng-click="back()">Back</button>
    </div>
</div>