<h4>All Past Emergency Reports</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Property Name</th>
                <th scope="col">Address</th>
                <th scope="col">Incident Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emergencyreport in emergencyreports">
                <th scope="row">{{emergencyreport.PropertyName}}</th>
                <td>{{emergencyreport.Address}}</td>
                <td>{{emergencyreport.IncidentDescription}}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <div class="col-xs-offset-2 col-xs-4">
        <button name="back" class="btn btn-default" ng-click="back()">Back</button>
    </div>
</div>
