<div class="col-xs-12">
    <h3>{{property.Name}}</h3>

    <h4>General Information</h4>
    <ul>
        <li>Manager: {{property.ManagerId}}</li>
        <li>Tax ID: {{property.TaxId}}</li>
        <li>Property Type: {{property.PropertyType}}</li>
        <li>Number of Buildings: {{property.NumberOfBuildings}}</li>
        <li>Number of Units: {{property.NumberOfUnits}}</li>
        <li>On Site Contact: {{property.OnSiteContact}}</li>
        <li>Water Shut Off Location: {{property.WaterShutOffLocation}}</li>
    </ul>

    <h4>Location</h4>
    <ul>
        <li>Property Address: {{property.Address}} </li>
        <li>City: {{property.City}}</li>
    </ul>
    
    <h4>Access, Codes, & Passwords</h4>
    <ul>
        <li>Fire Alarm Password: {{property.FireAlarmPassword}}</li>
        <li>Gate Access Code: {{property.GateAccess}}</li>
    </ul>

    <h4>Vendors</h4>


    <h4>Board Members</h4>


    <ul></ul>
</div>
</div>