<div class="row">
    <input class="form-control input-lg" type="text" name="search" ng-model="searchText" placeholder="Search..">
    <br/>
    <div class="propertySearchResults" ng-repeat="property in properties | filter: searchText | orderBy: 'Name'">
        <a ng-click="viewPropertyDetail(property.PropertyId)">{{property.PropertyName}}</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-4">
        <button name="back" class="btn btn-default btn-lg" ng-click="back()">Back</button>
    </div>
</div>