<h3>All Properties</h3>

<div class="form-group mt-3">
    <select class="form-control input-lg" id="viewPropertyDetail" ng-model="property.PropertyId" required>
        <option value="" disabled selected>Select Property to View</option>
        <option ng-repeat="property in properties" value="{{property.PropertyId}}">{{property.PropertyName}}</option>
    </select>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <button type="button" class="btn btn-info btn-lg" ng-click="viewPropertyDetail(property.PropertyId)">Click for Property Details</button>
    </div>
    
</div>






